In [ ]:
import pandas as pd

# preparing the twitter data

In [ ]:
import warnings
warnings.filterwarnings("ignore")
def get_twitter(city):
  way = '/content/drive/MyDrive/lab3ml/'
  way_feat = f'{city}Features/features{city}/Twitter/'
  lda50_features = pd.read_csv(way + way_feat + 'LDA50Features.csv')
  lda50_topic_terms = pd.read_csv(way + way_feat + 'descriptions/LDA50FeaturesTopicTerms.csv', encoding='unicode_escape')
  liwc_features = pd.read_csv(way + way_feat + 'LIWCFeatures.csv')
  manually_defined_features = pd.read_csv(way + way_feat + 'manuallyDefinedTextFeatures.csv')
  df_topics = lda50_features
  df_terms = lda50_topic_terms
  terms_dict = df_terms.set_index(['Topic id', 'Term'])['Weight'].to_dict()

  result = pd.DataFrame(df_topics['_id'])

  for topic_id in range(50):
      topic_column = f'topic_{topic_id}'
      if topic_column in df_topics.columns:
          topic_values = df_topics[topic_column]
          terms_for_topic = df_terms[df_terms['Topic id'] == topic_column]


          for term, weight in zip(terms_for_topic['Term'], terms_for_topic['Weight']):
              result[term] = topic_values * weight

  combined_data = pd.merge(manually_defined_features, liwc_features, on='_id', how='outer')
  combined_data = pd.merge(combined_data, result, on='_id', how='outer')
  for column in combined_data.columns:
      if combined_data[column].dtype in ['float64', 'int64']:
          mean_value = combined_data[column].mean()
          combined_data[column].fillna(mean_value, inplace=True)
      else:
          combined_data[column].fillna(combined_data[column].mode()[0], inplace=True)
  return combined_data

In [ ]:
get_twitter('London')

,_id,numberOfHashtags,numberOfSlang,numberOfUrls,numberOfMentions,numberOfRepeatedChars,numberOfEmotionWords,numberOfEmoticons,averageSentiLevel,averageSentiScore,...,par,com,um,wembley,agent,leo,hertfordshir,properti,baton,roug
0,621e5fe0e6e20ed73edf6fef3bd45651,0.189189,0.053502,0.972973,0.148649,0.017510,0.272374,0.003891,0.079492,0.008357,...,0.098616,0.097233,0.093724,3.150652,1.932340,1.807385,1.744908,1.735982,1.575326,1.535162
1,3dc32b8c69aa3d6c0b2b77cc2102e4aa,0.038889,0.005439,0.168333,1.055556,0.006798,0.455296,0.007220,0.345145,0.053249,...,0.007531,0.007426,0.007158,0.002135,0.001310,0.001225,0.001183,0.001177,0.001068,0.001041
2,85c464c59fdfb0346d601beb03c2a7d1,0.044053,0.004076,0.731278,0.607930,0.008151,0.324194,0.005187,0.233721,0.108875,...,0.044230,0.043610,0.042036,0.012541,0.007692,0.007194,0.006946,0.006910,0.006271,0.006111
3,d16499f95c28ca2f81306ec7f1969ce7,1.173554,0.005714,0.950413,0.157025,0.013333,0.320952,0.000000,0.145085,0.087688,...,0.098762,0.097377,0.093862,0.028003,0.017175,0.016064,0.015509,0.015430,0.014002,0.013645
4,3e987dca9283be92bbd252784895325d,0.180946,0.035466,0.267263,1.080563,0.013828,0.442499,0.013181,0.265431,0.026804,...,0.927879,0.914872,0.881852,0.188735,0.115754,0.108269,0.104526,0.103991,0.094368,0.091962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5499,4089253ca28cfb799355e5368ddda3fc,0.371230,0.015342,0.580812,0.631697,0.016901,0.323184,0.006433,0.202676,0.055192,...,12.712893,12.534675,12.082275,271.975357,166.806416,156.019858,150.626579,149.856110,135.987678,132.520570
5500,d500322f7ce31a7cd70448a023356c31,0.371230,0.015342,0.580812,0.631697,0.016901,0.323184,0.006433,0.202676,0.055192,...,12.712893,12.534675,12.082275,271.975357,166.806416,156.019858,150.626579,149.856110,135.987678,132.520570
5501,1106389137c5fbf22b137106461cd87b,0.371230,0.015342,0.580812,0.631697,0.016901,0.323184,0.006433,0.202676,0.055192,...,12.712893,12.534675,12.082275,271.975357,166.806416,156.019858,150.626579,149.856110,135.987678,132.520570
5502,29aaa2652ce9d48e47e9148ebe010c67,0.371230,0.015342,0.580812,0.631697,0.016901,0.323184,0.006433,0.202676,0.055192,...,12.712893,12.534675,12.082275,271.975357,166.806416,156.019858,150.626579,149.856110,135.987678,132.520570
5503,bd4264749f66f3d39e8596b2acc314dc,0.371230,0.015342,0.580812,0.631697,0.016901,0.323184,0.006433,0.202676,0.055192,...,12.712893,12.534675,12.082275,137.790010,84.508604,79.043844,76.311464,75.921124,68.895005,67.138475

# preparing the insagram data

In [ ]:
def get_inst(city):
  way = '/content/drive/MyDrive/lab3ml/'
  way_feat = f'{city}Features/features{city}/Instagram/'
  imageConceptsFeatures = pd.read_csv(way + way_feat+'imageConceptsFeatures.csv')
  return imageConceptsFeatures

In [ ]:
get_inst('London')

,_id,numberOfImages,i1,i2,i3,i4,i5,i6,i7,i8,...,i991,i992,i993,i994,i995,i996,i997,i998,i999,i1000
0,621e5fe0e6e20ed73edf6fef3bd45651,27,9.677558,10.064873,9.865798,9.743429,9.479863,9.021971,8.369248,10.806421,...,10.716123,10.967851,8.892312,9.926070,10.053112,10.798548,10.401745,10.647419,9.536602,10.444004
1,85c464c59fdfb0346d601beb03c2a7d1,1,0.276181,0.378169,0.399769,0.314889,0.361463,0.382862,0.313340,0.361261,...,0.355330,0.404477,0.301521,0.376814,0.370406,0.353087,0.401677,0.507546,0.346929,0.452339
2,3e987dca9283be92bbd252784895325d,15,4.826959,5.195571,5.628116,4.933109,5.241223,4.945621,5.086117,5.674936,...,5.499768,5.498788,5.454883,5.925945,5.376901,6.003720,5.739424,6.120684,5.393265,5.902868
3,2fb0be0666131edaed40712cbf7471b9,6,1.842366,2.517774,2.326212,2.022806,2.353524,2.077852,1.821026,2.323207,...,2.278257,2.300126,2.111576,2.385854,2.173722,2.427476,2.203035,2.291367,2.196391,2.288548
4,25254c651cf44d4a509ee9ce8d1cfe16,2,0.655530,0.683721,0.702998,0.773801,0.729377,0.665427,0.645507,0.799615,...,0.738617,0.687319,0.826407,0.704059,0.700034,0.816596,0.658745,0.788409,0.901525,0.678621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,74bd103ab75398eb5224a2a36fb88832,4,1.341711,1.449001,1.545427,1.413159,1.465288,1.400355,1.444315,1.537802,...,1.534418,1.620567,1.276050,1.450271,1.470949,1.695493,1.371699,1.672610,1.281282,1.491309
2796,0318b159ccdf89bb01677dfb7ef29f90,23,7.392819,8.255368,8.889707,8.491150,8.099700,7.222282,7.077049,8.933074,...,8.573220,8.993301,8.393611,8.782997,8.223277,9.150821,9.417566,9.671339,8.576037,9.342620
2797,8a313badf2fbd2942f162a8c86da48ff,11,3.562215,4.370700,4.233653,3.909495,3.958452,3.771438,3.796961,3.999542,...,4.069070,3.963420,3.915608,4.119578,4.391060,4.285445,3.544107,4.043602,3.685056,4.098334
2798,01e37af923f0840ac5105c0c9451df3e,1,0.336800,0.383714,0.347414,0.390606,0.375713,0.354504,0.265182,0.410055,...,0.460446,0.393582,0.372426,0.418123,0.272813,0.467312,0.410349,0.425807,0.354226,0.405776
2799,db22bfc1dd322063a776953f656b0d38,6,1.892258,1.961518,2.151686,2.004965,2.083960,2.028011,1.899117,2.183383,...,2.325093,2.064345,2.088244,2.294877,2.060667,2.275773,2.223863,2.418445,2.197173,2.324460

# preparing the foursquare data

In [ ]:
def get_foursquare(city):
  way = '/content/drive/MyDrive/lab3ml/'
  way_feat = f'{city}Features/features{city}/Foursquare/'
  venue1Test = pd.read_csv(way + way_feat+'venueCategoriesFeatures1MonthTest.csv')
  venue2Test = pd.read_csv(way + way_feat+'venueCategoriesFeatures2MonthsTest.csv')
  venue2Train = pd.read_csv(way + way_feat+'venueCategoriesFeatures2MonthsTrain.csv')
  venue3 = pd.read_csv(way + way_feat+'venueCategoriesFeatures3MonthsTrain.csv')
  venue5 = pd.read_csv(way + way_feat+'venueCategoriesFeatures5Months.csv')
  venueLDA6 = pd.read_csv(way + way_feat+'venueCategoriesLDA6Features.csv')
  combined_data = pd.merge(venue5, venueLDA6, on='_id', how='outer')
  for column in combined_data.columns:
      combined_data[column].fillna(0, inplace=True)
  return combined_data

In [ ]:
get_foursquare('London')

,_id,categoryMentions,f1,f2,f3,f4,f5,f6,f7,f8,...,f761,f762,f763,f764,ftopic_0,ftopic_1,ftopic_2,ftopic_3,ftopic_4,ftopic_5
0,621e5fe0e6e20ed73edf6fef3bd45651,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.012311,0.655643,0.007314,0.059790,0.001989,0.262952
1,3dc32b8c69aa3d6c0b2b77cc2102e4aa,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.037085,0.214207,0.022033,0.263964,0.005993,0.456718
2,85c464c59fdfb0346d601beb03c2a7d1,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.264056,0.640404,0.002528,0.001424,0.000688,0.090899
3,d16499f95c28ca2f81306ec7f1969ce7,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.090561,0.160406,0.016499,0.009295,0.004488,0.718750
4,3e987dca9283be92bbd252784895325d,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.389145,0.034203,0.214218,0.097647,0.000688,0.264100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,95f3edfb67a2b67315c782fa75cdbf9c,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.074634,0.093593,0.044341,0.024980,0.012061,0.750391
5501,0ecbef8f35f9b7313af2cc9e622e10d8,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.202604,0.070904,0.011984,0.006751,0.003260,0.704498
5502,408666b90d299d0b09264305c3e1462b,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.145304,0.257368,0.026472,0.014913,0.007200,0.548742
5503,b484904e7289ec5a109f0c52e739435d,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.044558,0.257368,0.026472,0.014913,0.007200,0.649488
5504,CategoriesDescription,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000125,0.000157,0.000074,0.000042,0.999475,0.000126

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem import SnowballStemmer
import numpy as np

def add_info(data, word):
  stemmer = SnowballStemmer("english")

  def stem_words(words, stemmer):
      return [stemmer.stem(word) for word in words]
  vectorizer = TfidfVectorizer(analyzer='word', tokenizer=lambda text: stem_words(text.split(), stemmer))

  non_empty_education_info = data['educationInfoForAgeGroupEstimation'].dropna()


  tfidf_matrix = vectorizer.fit_transform(non_empty_education_info)


  feature_names = np.array(vectorizer.get_feature_names_out())


  school_related_idxs = np.where(np.array([stemmer.stem(word) in feature for feature in feature_names]))[0]

  contains_school = [any(tfidf_matrix[i, idx] > 0 for idx in school_related_idxs) for i in range(tfidf_matrix.shape[0])]

  result_contains_school = []
  for index, row in data.iterrows():
      if pd.isna(row['educationInfoForAgeGroupEstimation']):
          result_contains_school.append(False)
      else:
        result_contains_school.append(contains_school.pop(0))
  data[f'contains{word}'] = result_contains_school

In [ ]:
tra = pd.read_csv('/content/drive/MyDrive/lab3ml/LondonTrain.csv')
print(tra)
add_info(tra, 'school')
print(tra)

                                row ID  \
0     b91f2c096c71434747b3fc62c324abc3
1     1f8b8ec545b6e0fe8d86da7f1dcbb43c
2     ecec708ce2078de02beaec22c86c279f
3     e87606f217aa0a10bff85bd4cdce129f
4     8bbc0c87b6b1a31c99ecd11a326142d7
...                                ...
3273  c30ad48a872006252602aa3f7733321a
3274  753b3f95a54291c9d698d3640e8f73b7
3275  c1c3b60af322612f60a72a46572c9bbe
3276  8e481d2afd7803523314992885582a50
3277  f6aaff32b1014722319ccf6121a16cb2

                     educationInfoForAgeGroupEstimation  \
0                                                   NaN
1                                                   NaN
2       Uppsala University Egyptology � Uppsala, Sweden
3                                                   NaN
4     University of Verona 2008 to 2010 � Nursing � ...
...                                                 ...
3273                                                NaN
3274  Tottenham College of Technology Class of 1979 ...
3275                                                NaN
3276  The Magna Carta School Class of 1994 � Staines...
3277                                                NaN

                          workInfoForAgeGroupEstimation  gender  realAge  \
0                                                   NaN  female      NaN
1     Edenred Employee Benefits Advisor � November 2...  female      NaN
2                                                   NaN    male      NaN
3                 Booking.com Cambridge, Cambridgeshire    male      NaN
4     Coogee Pavilion Pizza Chef � 13 April 2015 to ...    male      NaN
...                                                 ...     ...      ...
3273                                                NaN    male      NaN
3274                                                NaN  female      NaN
3275                                                NaN    male      NaN
3276  Medivet Richmond Head Nurse � 25 November 2013...    male      NaN
3277                                                NaN  female      NaN

      ageGroup relationship educationLevel  \
0          NaN          NaN            NaN
1          NaN          NaN            NaN
2          NaN          NaN  undergraduate
3          NaN          NaN            NaN
4          NaN       single  undergraduate
...        ...          ...            ...
3273       NaN          NaN            NaN
3274       NaN          NaN        college
3275       NaN          NaN            NaN
3276       NaN          NaN         school
3277       NaN          NaN            NaN

                                  occupation income
0                                        NaN    NaN
1                  personal care and service    NaN
2                                        NaN    NaN
3                                        NaN    NaN
4       food preparation and service related    NaN
...                                      ...    ...
3273                                     NaN    NaN
3274                                     NaN    NaN
3275                                     NaN    NaN
3276  healthcare practitioners and technical    NaN
3277                                     NaN    NaN

[3278 rows x 10 columns]
                                row ID  \
0     b91f2c096c71434747b3fc62c324abc3
1     1f8b8ec545b6e0fe8d86da7f1dcbb43c
2     ecec708ce2078de02beaec22c86c279f
3     e87606f217aa0a10bff85bd4cdce129f
4     8bbc0c87b6b1a31c99ecd11a326142d7
...                                ...
3273  c30ad48a872006252602aa3f7733321a
3274  753b3f95a54291c9d698d3640e8f73b7
3275  c1c3b60af322612f60a72a46572c9bbe
3276  8e481d2afd7803523314992885582a50
3277  f6aaff32b1014722319ccf6121a16cb2

                     educationInfoForAgeGroupEstimation  \
0                                                   NaN
1                                                   NaN
2       Uppsala University Egyptology � Uppsala, Sweden
3                                                   NaN
4     University of Verona 2008 to 2010 � Nursing � ...
...                                                 ...
3273                                                NaN
3274  Tottenham College of Technology Class of 1979 ...
3275                                                NaN
3276  The Magna Carta School Class of 1994 � Staines...
3277                                                NaN

                          workInfoForAgeGroupEstimation  gender  realAge  \
0                                                   NaN  female      NaN
1     Edenred Employee Benefits Advisor � November 2...  female      NaN
2                                                   NaN    male      NaN
3                 Booking.com Cambridge, Cambridgeshire    male      NaN
4     Coogee Pavilion Pizza Chef � 13 April 2015 to ...    male      NaN
...                                                 ...     ...      ...
3273                                                NaN    male      NaN
3274                                                NaN  female      NaN
3275                                                NaN    male      NaN
3276  Medivet Richmond Head Nurse � 25 November 2013...    male      NaN
3277                                                NaN  female      NaN

      ageGroup relationship educationLevel  \
0          NaN          NaN            NaN
1          NaN          NaN            NaN
2          NaN          NaN  undergraduate
3          NaN          NaN            NaN
4          NaN       single  undergraduate
...        ...          ...            ...
3273       NaN          NaN            NaN
3274       NaN          NaN        college
3275       NaN          NaN            NaN
3276       NaN          NaN         school
3277       NaN          NaN            NaN

                                  occupation income  containsschool
0                                        NaN    NaN           False
1                  personal care and service    NaN           False
2                                        NaN    NaN           False
3                                        NaN    NaN           False
4       food preparation and service related    NaN            True
...                                      ...    ...             ...
3273                                     NaN    NaN           False
3274                                     NaN    NaN           False
3275                                     NaN    NaN           False
3276  healthcare practitioners and technical    NaN            True
3277                                     NaN    NaN           False

[3278 rows x 11 columns]

# creating a model

In [ ]:
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score


def test(X_train, y_train, X_test, y_test):
    model = CatBoostClassifier(n_estimators=10, max_depth=5, feature_border_type='GreedyLogSum', logging_level="Silent", cat_features=list(X_train.dtypes.reset_index()[X_train.dtypes.reset_index()[0] == 'object']['index']))
    model.fit(X_train, y_train, verbose=1)
    predict = model.predict(X_test)
    return f1_score(y_test, predict, average='weighted'), accuracy_score(y_test, predict)

def do_testing(funcs, task_feature):
  cityes_train = pd.DataFrame()
  cityes_test = pd.DataFrame()
  way = '/content/drive/MyDrive/lab3ml/'
  X = pd.DataFrame()
  for city in list(["London", "Singapore", "NY"]):
    city_train =  pd.read_csv(way+city+'Train.csv')
    city_test = pd.read_csv(way+city+'Test.csv')
    city_train.drop(city_train[task_feature].isna()[city_train[task_feature].isna()].index, inplace=True)
    city_test.drop(city_test[task_feature].isna()[city_test[task_feature].isna()].index, inplace=True)

    cityes_train = pd.concat([cityes_train, city_train], ignore_index=True)
    cityes_test = pd.concat([cityes_test, city_test], ignore_index=True)
    if city == "NY":
      city = "NewYork"

    combined_data = funcs[0](city).copy()
    if len(funcs)>1:
      for func in funcs[1:]:
        combined_data = pd.merge(combined_data, func(city), on='_id', how='inner')
    X = pd.concat([X, combined_data], ignore_index=True)
  train = pd.merge(left=X, right=cityes_train[[task_feature, 'row ID']], how='inner', left_on='_id', right_on='row ID').drop('row ID', axis=1)
  test_ = pd.merge(left=X, right=cityes_test[[task_feature, 'row ID']], how='inner', left_on='_id', right_on='row ID').drop('row ID', axis=1)
  return test(train.drop(task_feature, axis=1), train[task_feature].fillna(cityes_train[task_feature]), test_.drop(task_feature, axis=1), test_[task_feature].fillna(cityes_test[task_feature]))

# starting tests

In [ ]:
def get_stats():
  tasks_feature = list(['relationship',	'educationLevel',	'gender'])
  for i in range(2):
    for j in range(2):
      for l in range(2):
        tasks = []
        variants = ''
        if i == 1:
          tasks.append(get_foursquare)
          variants+='foursquare '
        if j == 1:
          tasks.append(get_inst)
          variants+='instagram '
        if l == 1:
          tasks.append(get_twitter)
          variants+='twitter'
        if len(tasks)>0:
          variant_data = pd.DataFrame()
          count = 0
          for task in tasks_feature:
            count+=1
            result = do_testing(tasks, task)
            data = {"variant": variants, "task": task, "F1 Measure": result[0], "Accuracy": result[1]}
            variant_data = pd.concat([variant_data, pd.DataFrame(data=data, index=[count])])
          print(variant_data)

In [ ]:
get_stats()

   variant            task  F1 Measure  Accuracy
1  twitter    relationship    0.553779  0.631336
2  twitter  educationLevel    0.499141  0.556522
3  twitter          gender    0.766915  0.767699
      variant            task  F1 Measure  Accuracy
1  instagram     relationship    0.485140  0.625000
2  instagram   educationLevel    0.391450  0.467033
3  instagram           gender    0.625886  0.629944
             variant            task  F1 Measure  Accuracy
1  instagram twitter    relationship    0.498595  0.613636
2  instagram twitter  educationLevel    0.558412  0.604396
3  instagram twitter          gender    0.760854  0.761364
       variant            task  F1 Measure  Accuracy
1  foursquare     relationship    0.510341  0.603687
2  foursquare   educationLevel    0.460991  0.530435
3  foursquare           gender    0.605831  0.639381
              variant            task  F1 Measure  Accuracy
1  foursquare twitter    relationship    0.551298  0.635945
2  foursquare twitter  educationLevel    0.476500  0.539130
3  foursquare twitter          gender    0.766772  0.769912
                 variant            task  F1 Measure  Accuracy
1  foursquare instagram     relationship    0.487844  0.630682
2  foursquare instagram   educationLevel    0.496680  0.571429
3  foursquare instagram           gender    0.586875  0.599432
                        variant            task  F1 Measure  Accuracy
1  foursquare instagram twitter    relationship    0.540718  0.642045
2  foursquare instagram twitter  educationLevel    0.547971  0.598901
3  foursquare instagram twitter          gender    0.730940  0.730114